h1 {
    background-color:blue;
    color:yellow;
    cursor: pointer;
}

h2 {
    background-color:green;
    color:grey;
}

#flowerImage {
    width:300px;
    height:200px;
    border-color:red;
}
